body
{
background-color:black;
color:white;
}

.card-img-top
{
height:370px;
}

.card-body
{
background-color:black;
color:white;
}

#position1
{
position:relative;
margin:20px;
}

#position2
{
position:absolute;
left:700px;
top:65px;
}